@font-face{
    font-family:"bold";
    src: url('../Fonts/Linotype\ -\ AvenirNextLTPro-Bold.otf') format('opentype');
}

@font-face{
    font-family: "demi";
    src: url('../Fonts/Linotype\ -\ AvenirNextLTPro-Demi.otf') format('opentype');
}

@font-face{
    font-family: "regular";
    src: url('../Fonts/Linotype\ -\ AvenirNextLTPro-Regular.otf') format('opentype');
}

@mixin header-footer-style {
    display: flex;
    height:auto;
    flex-direction: column;
    width: 100%;
    background-color: $background-color;
    
}
$background-color: black;
$font-color: white;
$header-text-shadow:2px solid grey 0.2;

.contains2{
    .hero2 {
        display: flex;

        &__image{
            height: 472px;
            width: 100%;
            object-fit: cover;

            @media screen and (min-width:426px){
                height: 670px;
            }

            @media screen and (min-width:769px){
                height: 670px;
            }
        }
        &__slogan {
            justify-content: center;
            align-items: center;
            font-display:'header';
            font-size: 1 rem;
            position: absolute;
            padding: 1rem 1rem;
            color: $font-color;
        


            @media screen and (min-width:426px) {
                margin: 120px auto auto 16px; 
                font-size: 2rem;
                padding-right:270px;
            
            }

            @media screen and (min-width:769px){
                padding: 2rem 15rem 15rem 7.7rem;;
                font-size: 1.8rem;
            }
        }

        &__slogan2{
            color: $font-color;
            font-family: 'bold';
            justify-content: flex-start;
            align-items: flex-start;
            font-display:'header';
            font-size: 2em;
            position: absolute;
            padding: 4.0rem 0.1rem;
            margin: 0 16px 64px 16px;

            @media screen and (min-width:426px) {
                margin: 120px auto auto 24px; 
                font-size: 3rem;
                padding-right:270px; 
            }

            @media screen and (min-width:769px){
               margin: 180px auto auto 125px; 
               font-size: 3.5rem;
               padding-right:750px;
            }
        }
        &__songs{
            width: 50%;
            position: absolute;
            margin: 250px 30px 16px 16px;
            border-radius: 5%;

            @media screen and (min-width:426px) {
                margin: 400px 30px 24px 24px;
                width: 35%;
            }

            @media screen and (min-width:769px){
                width: 436px;
                height:146px;
                margin: 300px 130px auto 730px;
            }
        }

    }

}
.shows{

    display: flex;
    flex-flow: column wrap;

    @media screen and (min-width:769px){
        margin: 48px 180px;
        flex-direction: row;
    }
    

    &__header{
        margin:32px auto 35px 16px;

        @media screen and (min-width:426px){
            margin-left:24px;
            align-self: flex-start;
        }
       
    }

    &__details{
        display: flex;
        flex-flow: column wrap;   
        margin: 0 auto 16px 16px;
        border-bottom: 2px solid rgba(128,128,128, 0.3);
        padding-bottom: 16px;


         @media screen and (min-width:426px){
            flex-flow: row nowrap;
            padding-bottom: 10px;
            padding-top: 0;
            width:100%;
        }

        
        @media screen  and (min-width:769px){
            flex-flow: row nowrap;
            width:804px;
            margin-left:180px;
            font-size: 14px;
        }
        
        &__info{
            color: grey;
            font-family: 'regular';
            margin: 0 auto 16px 16px;

            @media screen and (min-width:426px){
                display: none;
            }
        }

        &__info2{
            font-size: 18px;
            margin-left:16px;
            margin-top: 0;

            @media screen and (min-width:426px) {
                margin-left: 24px;
                margin-right: 20px;
                font-family: 'bold';
                font-size:13px;
                padding-right: 10px;
                width:25%;
            }

            @media screen and (min-width:769px){
                font-size: 14px;
            }
        }

        &__info3{
            margin-left: 16px;
            font-family: 'regular';
            margin-top: 0;

            @media screen and (min-width:426px) {
                padding-right: 20px;
                padding-left:10px;
                width: 25%;
                font-size: 13px;
            }

            @media screen and (min-width:769px){
                font-size:14px;
            }
        }

        &__button{
            background-color: $background-color;
            border-radius: 8px;
            width: 288px;
            height: 48px;
            color: $font-color;
            font-family: 'demi';
            font-size: 18px;

            @media screen and (min-width:426px){
                width: 200px;
                height: 60px;
                margin-right: 24px;
                font-size: 15px;
                margin-left: 70px;
                width:40%;
            }
        }
    }


    &__details1{
        display: flex;
        flex-flow: column wrap;   
        margin: 0 auto 16px 16px;
        padding-bottom: 16px;
        border-bottom: 2px solid rgba(128,128,128, 0.3);

        @media screen and (min-width:426px){
            flex-flow: row nowrap;
            border-bottom: 0;
            width:100%;
            font-size: 13px;
            }

        @media screen  and (min-width:769px){
            flex-flow: row nowrap;
            width:804px;
            justify-content: end;
            align-items: flex-end;
            font-size: 14px;
        }
        
        &__info{
            color: grey;
            font-family: 'regular';
            margin: 0 auto 16px 16px;

            @media screen and (min-width:426px){
                margin: auto 90px auto 24px;
            }

            @media screen and (min-width:769px){
                width:80px;
                margin: 0 90px 0 0;
                font-size: 14px;
            }
        }

        &__info2{
            font-size: 18px;
            margin-left:16px;
            margin-top: 0;

            @media screen and (min-width:426px){
                display: none;
            }
        }

        &__info3{
            margin-left: 16px;
            font-family: 'regular';
            margin-top: 0;

            @media screen and (min-width:426px) {
                display: none;  
            }
        }

        &__button{
            background-color: $background-color;
            border-radius: 8px;
            width: 288px;
            height: 48px;
            color: $font-color;
            font-family: 'demi';
            font-size: 18px;
            padding-bottom: 32px 16px 16px 16px;

            @media screen and (min-width:426px){
                display: none;
            }
        
        }   
    }
    &__details2{
        display: flex;
        flex-flow: column wrap;   
        margin: 0 auto 16px 16px;
        padding-bottom: 16px;
        border-bottom: 2px solid rgba(128,128,128, 0.3);

        @media screen and (min-width:426px){
            flex-flow: row nowrap;
            width:100%;
        }

        @media screen  and (min-width:769px){
            flex-flow: row nowrap;
            width:804px;
            margin-left:180px;
            font-size: 14px;
        }
        
        &__info{
            color: grey;
            font-family: 'regular';
            margin: 0 auto 16px 16px;

            @media screen and (min-width:426px){
                display: none;
            }
        }

        &__info2{
            font-size: 18px;
            margin-left:16px;
            margin-top: 0;

            @media screen and (min-width:426px) {
                margin-left: 24px;
                margin-right: 20px;
                font-family: 'bold';
                font-size:13px;
                width: 25%;
            }

            @media screen and (min-width:769px){
                font-size: 14px;
            }
        }

        &__info3{
            margin-left: 16px;
            font-family: 'regular';
            margin-top: 0;

            @media screen and (min-width:426px) {
                padding-right: 20px;
                padding-left:10px;
                width: 25%;
                font-size: 14px;
            }

            @media screen and (min-width:769px){
                font-size: 14px;
            }
        }
        
        &__button{

            @media screen and (min-width:426px){
                width: 200px;
                height: 60px;
                margin-right: 24px;
                font-size: 14px;
                margin-left: 270px;
                width:40%;
            }

            @media screen and (min-width:769px){
                height: 48px;
                width: 160px;
                font-size: 16px;
            }
        }
    }
}

