$background-color: black;
$font-color: white;

.hero2 {
    display: flex;

    &__image{
        height: 472px;
        width: 100%;
        object-fit: cover;
        //background-image:url(../images/shows.jpg);
    }
    &__slogan {
        
        /*flex-flow: row wrap;
        font-display:'regular';
        font-size: 1rem;
        position: absolute;*/

        justify-content: center;
        align-items: center;
        font-display:'header';
        font-size: 1 rem;
        position: absolute;
        padding: 1rem 1.5rem;
        color: $font-color;
       


        @media screen and (min-width:425px) {
            padding: 1.9rem 2.8rem;
            font-size: 2rem;
           
        }

        @media screen and (min-width:768px){
            padding: 5rem 15rem 15rem 3rem;;
            font-size: 3.2rem;
        }

        @media screen and (min-width:1024px){
            padding: 9rem 35rem 16rem 6rem;
            font-size: 2.7rem;
        }

        @media screen and (min-width:1440px){
            padding: 11rem 55rem 16rem 8rem;
            font-size: 3rem;
        }
    }

    &__slogan2{
        color: $font-color;
        font-family: 'bold';
        justify-content: flex-start;
        align-items: flex-start;
        font-display:'header';
        font-size: 2em;
        position: absolute;
        padding: 4.0rem 1.5rem;
        margin: 0 16px 64px 16px;
    }
    &__songs{
        justify-content: flex-start;
        align-items: flex-start;
        position: absolute;
        padding: 18rem 1.5rem;
        border-radius: 15px;
    }


.shows{
    padding: 16px;
    margin:16px;
    border-bottom: solid 2px rgba(128, 128, 128, 0.3);
    display: flex;
    flex-flow: column wrap;
       
    &__header{
        margin: 32px auto 40px 16px;
       
    }
    &__details{
        display: flex;
        flex-flow: column wrap;
    
        &__info{
        font-size: 12px;
        color:grey;
        font-family: 'regular';
        margin: 16px auto 24px 16px;
        }
        &__info2{
        font-family: 'demi';
        font-size: 14px;
        margin: 16px auto 24px 16px;
        }
        &__info3{
        font-family: 'regular';
        font-size: 12px;
        margin: 0 auto 32px 16px;
        }
        &__button{
        background-color: $background-color;
        margin: auto 16px 16px 16px;
        height:48px;
        width: auto;
        color: $font-color;
        border-radius: 5px;
        border-bottom: 2px solid rgba(128, 128, 128, 0.3);
        border-bottom: 16px;
        font-size: 1em;

       }
    }
}
}