@font-face{
    font-family:"bold";
    src: url('../Fonts/Linotype\ -\ AvenirNextLTPro-Bold.otf') format('opentype');
}

@font-face{
    font-family: "demi";
    src: url('../Fonts/Linotype\ -\ AvenirNextLTPro-Demi.otf') format('opentype');
}

@font-face{
    font-family: "regular";
    src: url('../Fonts/Linotype\ -\ AvenirNextLTPro-Regular.otf') format('opentype');
}

@mixin header-footer-style {
    display: flex;
    height:auto;
    flex-direction: column;
    width: 100%;
    background-color: $background-color;
    
}
$background-color: black;
$font-color: white;
$header-text-shadow:2px solid grey 0.2;
.hero2 {
    display: flex;

    &__image{
        height: 472px;
        width: 100%;
        object-fit: cover;
    }
    &__slogan {
        justify-content: center;
        align-items: center;
        font-display:'header';
        font-size: 1 rem;
        position: absolute;
        padding: 1rem 1rem;
        color: $font-color;
       


        @media screen and (min-width:425px) {
            padding: 1.9rem 2.8rem;
            font-size: 2rem;
           
        }

        @media screen and (min-width:768px){
            padding: 5rem 15rem 15rem 3rem;;
            font-size: 3.2rem;
        }

        @media screen and (min-width:1024px){
            padding: 9rem 35rem 16rem 6rem;
            font-size: 2.7rem;
        }

        @media screen and (min-width:1440px){
            padding: 11rem 55rem 16rem 8rem;
            font-size: 3rem;
        }
    }

    &__slogan2{
        color: $font-color;
        font-family: 'bold';
        justify-content: flex-start;
        align-items: flex-start;
        font-display:'header';
        font-size: 2em;
        position: absolute;
        padding: 4.0rem 0.1rem;
        margin: 0 16px 64px 16px;
    }
    &__songs{
        position: absolute;
        margin: 270px 16px 16px 16px;
        border-radius: 10px;
    }

}
.shows{
    border-bottom: solid 2px rgba(128, 128, 128, 0.3);
    display: flex;
    flex-flow: column wrap;
       
    &__header{
        margin:32px auto 40px 16px;
       
    }
    &__details{
        display: flex;
        flex-flow: column wrap;   
        margin: 0 auto 16px 16px;
        
        &__info{
            color: grey;
            font-family: 'regular';
            margin: 0 auto 16px 16px;
        }

        &__info2{
            font-size: 18px;
            margin-left:16px;
        }

        &__info3{
            margin-left: 16px;
            font-family: 'regular';
        }

        &__button{
            background-color: $background-color;
            border-radius: 8px;
            width: 288px;
            height: 48px;
            color: $font-color;
            font-family: 'demi';
            font-size: 18px;
        }
       }
    }

